<!DOCTYPE html>
<html lang="en" class="roboto">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/1e10722e63.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="icon" type="image/svg+xml" href="/img/logo-Upper-mercado-libre.svg">
    <title>Mercado Libre</title>
</head>

<body>
    <header>
        <img src="/img/logo-mercado-liebre.svg" alt="logo mercado libre">
        <div class="search-container">
            <i class="fa-solid fa-magnifying-glass"></i>
            <button>Buscar productos, marcas...</button>
        </div>
        <h3 class="cuerpos-de-texto">Comprá en cuotas y sin tarjeta de crédito</h3>
        <div class="center">
            <i class="fa-solid fa-hand-holding-dollar"></i>
        </div>
        <nav>
            <ul>
                <li><a href="https://www.mercadolibre.com.ar/ofertas#nav-header" target="_blank">Ofertas</a></li>
                <li><a href=https://www.mercadolibre.com.ar/tiendas-oficiales#menu=categories target="_blank">Tiendas
                        Oficiales</a></li>
                <li><a href="https://www.mercadolibre.com.ar/publicar/omni#menu-user" target="_blank">Vender</a></li>
                <li><a href="https://www.mercadolibre.com.ar/ayuda#nav-header" target="_blank">Ayuda</a></li>
            </ul>
            <ul>
                <div class="user-icon-container">
                    <li><a href="https://www.mercadolibre.com.ar/hub/registration/landing?redirect_url=https%3A%2F%2Fwww.mercadolibre.com.ar%2F#nav-header"
                            target="_blank">Creá tu cuenta</a></li> <i class="fa-solid fa-user"></i>
                </div>
                <div class="user-icon-container">
                    <li><a href="https://www.mercadolibre.com/jms/mla/lgz/msl/login/H4sIAAAAAAAEAzWNSw6DMAxE75I1gn2WvUhkggGrDokc01BV3L1OpS7n82Y-jvNGR9B3QecdXoUpkrrBFQZds6RAiwWJzaqk-JfQKyCQUFGq858-tOHyQIP6lMqJ1oFT97Bybmb9rsyjGvAy7AAODecXYU9X4NqJLZvYVUv109RaGxNKhCUzzYJjzGkEmdw9GFA1qEB8Ot_f7i80BkSFzQAAAA/user"
                            target="_blank">ingresá</a></li> <i class="fa-solid fa-right-to-bracket"></i>
                </div>
                <div class="user-icon-container">
                    <li><a href="https://myaccount.mercadolibre.com.ar/my_purchases/list#nav-header" target="_blank">Mis
                            Compras</a></li> <i class="fa-solid fa-basket-shopping"></i>
                </div>
            </ul>

        </nav>

        <div class="burger-menu">
            <i class="fas fa-bars burger"></i>
        </div>
        <img src="/img/img-home-banner.jpg" alt="Imagen separacion" width="100%">
    </header>
    <main>

        <section>
            <h3>Basado en tu última visita</h3>
            <article>
                <img src="/img/img-cafetera-moulinex.jpg" alt="imagen cafetera">
                <i class="fa-solid fa-truck" style="color: #39b54a;"></i>
                <border></border>

                <precio>
                    $6.770
                    <span>
                        40% OFF
                    </span>
                </precio>
                <p>Cafetera Moulinex</p>
            </article>
            <article>
                <img src="/img/img-macbook-pro-2019.jpg" alt="imagen macbook pro">
                <i class="fa-solid fa-truck" style="color: #39b54a;"></i>
                <border></border>

                <precio>
                    $230.000
                    <span>
                        20% OFF
                    </span>
                </precio>
                <p>MacBook Pro 2019</p>
            </article>
            <article>
                <img src="/img/img-samsung-galaxy-s10.jpg" alt="imagen celular">
                <i class="fa-solid fa-truck" style="color: #39b54a;"></i>
                <border></border>
                <precio>
                    $70.500
                    <span>
                        10% OFF
                    </span>
                </precio>
                <p>Samsung Galaxy S10</p>
            </article>
            <article>
                    <img src="/img/img-tv-samsung-smart.jpg" alt="imagen tv">
                    <i class="fa-solid fa-truck" style="color: #39b54a;"></i>
                    <border></border>
                    <precio>
                        $23.200
                        <span>
                            5% OFF
                        </span>
                    </precio>
                    <p>SmartTv Samsung 43"</p>
            </article>
        </section>


        <section>
            <h3>Seccion de ofertas</h3>
            <article>
                <img src="/img/img-cafetera-moulinex.jpg" alt="imagen cafetera">
                <i class="fa-solid fa-truck" style="color: #39b54a;"></i>
                <border></border>

                <precio>
                    $6.770
                    <span>
                        40% OFF
                    </span>
                </precio>
                <p>Cafetera Moulinex</p>
            </article>
            <article>
                <img src="/img/img-macbook-pro-2019.jpg" alt="imagen macbook pro">
                <i class="fa-solid fa-truck" style="color: #39b54a;"></i>
                <border></border>

                <precio>
                    $230.000
                    <span>
                        20% OFF
                    </span>
                </precio>
                <p>MacBook Pro 2019</p>
            </article>
            <article>
                <img src="/img/img-samsung-galaxy-s10.jpg" alt="imagen celular">
                <i class="fa-solid fa-truck" style="color: #39b54a;"></i>
                <border></border>
                <precio>
                    $70.500
                    <span>
                        10% OFF
                    </span>
                </precio>
                <p>Samsung Galaxy S10</p>
            </article>
            <article class="bottom">
                <img src="/img/img-tv-samsung-smart.jpg" alt="imagen tv">
                <i class="fa-solid fa-truck" style="color: #39b54a;"></i>
                <border></border>
                <precio>
                    $23.200
                    <span>
                        5% OFF
                    </span>
                </precio>
                <p>SmartTv Samsung 43"</p>
            </article>
        </section>
    </main>
</body>
<footer>
    <section class="part-footer">
        <div>
            <i class="fa-solid fa-credit-card section-img clase" style="color: #1259c3; "></i>
        </div>
        <div class="font-size">
            Pagá con tarjeta o en efectivo
        </div>
        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
        seguro!
    </section>
    <section class="part-footer">
        <div>
            <i class="fa-solid fa-gift section-img clase" style="color: #1259c3;"></i>
        </div>
        <div class="font-size">
            Envío gratis desde $ 2.500
        </div>
        Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
        Mercado Puntos.
    </section>
    <section class="part-footer">
        <div>
            <i class="fa-solid fa-user-shield section-img clase" style="color: #1259c3;"></i>
        </div>
        <div class="font-size">
            Seguridad, de principio a fin
        </div>
        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,porque estás siempre protegid@.
    </section>
    <section class="part-footer-copyright">
        <p> Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </section>
</footer>

</html>