<!DOCTYPE html>
<html lang="en" class="roboto">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/register-styles.css">
    <script src="https://kit.fontawesome.com/1e10722e63.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="icon" type="image/svg+xml" href="/img/logo-Upper-mercado-libre.svg">
    <title>Mercado Libre</title>
</head>

<body>
    <header>
        <div class="search-container">
            <div class="search-container-logo search-container">
                <img src="/img/logo-mercado-liebre.svg" alt="logo mercado libre" class="img-logo">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="search" class="stretch" placeholder="Buscar productos, marcas...">
            </div>

            <div class="center icon-hand margin-top ">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                <h3 class="cuerpos-de-texto">Comprá en cuotas y sin tarjeta de crédito</h3>
            </div>
        </div>
        <nav class="main-navbar">
            <ul class="non-style">
                <li><a href="https://www.mercadolibre.com.ar/ofertas#nav-header" target="_blank">Ofertas</a></li>
                <li><a href=https://www.mercadolibre.com.ar/tiendas-oficiales#menu=categories target="_blank">Tiendas
                        Oficiales</a></li>
                <li><a href="https://www.mercadolibre.com.ar/publicar/omni#menu-user" target="_blank">Vender</a></li>
                <li><a href="https://www.mercadolibre.com.ar/ayuda#nav-header" target="_blank">Ayuda</a></li>
            </ul>
        </nav>

        <div class="burger-menu">
            <i class="fas fa-bars burger"></i>
        </div>
    </header>
    <main>
        <form action='/'>
            <div class="class">
                <input type="text" name="name" placeholder="Nombre y apellido" class="control" required pattern=".{4,}"
                    title="El nombre debe de tener 4 caracteres como minimo">
            </div>
            <div class="class">
                <input type="text" name="user-name" placeholder="Nombre de usuario" class="control" required
                    pattern=".{4,}" title="El nombre debe de tener 4 caracteres como minimo">
            </div>
            <div class="class">
                <input type="email" name="email" placeholder="E-mail" class="control" required pattern=".{4,}"
                    title="El nombre debe de tener 4 caracteres como minimo">
            </div>
            <div class="class">
                <label><strong>Fecha de nacimiento</strong></label>
                <input type="date" name="birthday-date" value="xxxx-xx-xx" min="1900-01-01" max="2024-01-01"
                    class="control" required pattern=".{4,}" title="El nombre debe de tener 4 caracteres como minimo">
            </div>
            <div class="class">
                <input type="text" name="adress" class="control" placeholder="Domicilio" required pattern=".{4,}"
                    title="El nombre debe de tener 4 caracteres como minimo">
            </div>
            <div class="class">
                <label> Seleccione su preferencia:</label>
                <select name="user-preference" class="control">
                    <option value=""></option>
                    <hr />
                    <optgroup label="Elige">
                        <option value="buy"> comprar </option>
                        <option value="seld"> vender </object>
                    </optgroup>
                </select>
            </div>
            <div class="class-check">
                <label><strong>Categorias de interes:</strong></label>
                <div class>
                    <label class="check-box-control">Electro</label>
                    <input type="checkbox" name="interest" value="electro"
                        class="check-box-control check-box-control-item">
                </div>
                <div class>
                    <label>Moda</label>
                    <input type="checkbox" name="interest" value="fashion"
                        class="check-box-control check-box-control-item">
                </div>
                <div class>
                    <label>Hogar</label>
                    <input type="checkbox" name="interest" value="home"
                        class="check-box-control check-box-control-item">
                </div>
                <div class>
                    <label>Jugueteria</label>
                    <input type="checkbox" name="interest" value="toys"
                        class="check-box-control check-box-control-item">
                </div>
                <div class>
                    <label>Vida Sana</label>
                    <input type="checkbox" name="interest" value="health"
                        class="check-box-control check-box-control-item">
                </div>
            </div>
            <div class="class">
                <label><strong>Foto De Perfil</strong></label>
                <input type="file" accept=".jpg" name="profile-picture" class="control">
            </div>
            <div class="class">
                <input type="password" name="password" class="control" placeholder="Contraseña" required pattern=".{4,}"
                    title="El nombre debe de tener 4 caracteres como minimo">
            </div>
            <div class="class">
                <input type="password" name="confirmed-pasword" class="control" placeholder="Confirmar contraseña"
                    required pattern=".{4,}" title="El nombre debe de tener 4 caracteres como minimo">
            </div>

            <button type="submit" class="button-class ">enviar</button>
            <button type="reset" class="button-class ">borrar</button>
        </form>
    </main>
    <footer>
        <div class="footer-wrapper">
            <section class="part-footer">
                <div>
                    <i class="fas fa-credit-card section-img clase image-footer" style="color: #1259c3; "></i>
                </div>
                <div class="font-size">
                    Pagá con tarjeta o en efectivo
                </div>
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre
                es
                seguro!
            </section>
            <section class="part-footer">
                <div>
                    <i class="fas fa-gift section-img clase image-footer" style="color: #1259c3;"></i>
                </div>
                <div class="font-size">
                    Envío gratis desde $ 2.500
                </div>
                Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio
                de
                Mercado Puntos.
            </section>
            <section class="part-footer">
                <div>
                    <i class="fas fa-user-shield section-img clase image-footer " style="color: #1259c3;"></i>
                </div>
                <div class="font-size">
                    Seguridad, de principio a fin
                </div>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                protegido.
            </section>
        </div>
        <section class="part-footer-copyright">
            <p> Copyright © 1999-2024 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>

</html>