* {
    box-sizing: border-box;
}

input:invalid:not(:placeholder-shown) {
    background-color: #ffdddd;
    ;
}

@media (max-width: 768px) {
    .class {
        padding: 20px 15px;
    }

    .class label {
        font-size: 18px;
        display: block;
        margin-bottom: 10px;
    }


    .control {
        width: 100%;
        padding: 10px;
        border-radius: 2%;
        border: none;
    }

    .button-class {
        width: 100%;
        display: inline-block;
        margin: auto;
        margin-bottom: 20px;
        padding: 10px;
        background-color: #1259c3;
        border: none;
        color: #ffffff;
        font-size: 18px;
    }
}

/*version tablet*/
@media (min-width: 768px) {
    .class {
        padding: 20px 15px;
        margin-left: 34%;
    }

    .class label {
        font-size: 18px;
        display: block;
        margin-bottom: 10px;
    }

    .control {
        width: 47%;
        padding: 10px;
        border-radius: 2%;
        border: none;
    }

    .check-box-control {
        padding: 0;
        display: inline;
    }

    .button-class {
        width: 30%;
        display: block;
        margin: auto;
        margin-bottom: 20px;
        padding: 10px;
        background-color: #1259c3;
        border: none;
        color: #ffffff;
        font-size: 18px;
    }
}

/*version desktop*/
@media (min-width: 1028px) {

    .class {
        padding: 20px 15px;
        margin-left: 34%;
    }

    .class label {
        font-size: 18px;
        display: block;
        margin-bottom: 10px;
    }


    .control {
        width: 47%;
        padding: 10px;
        border-radius: 2%;
        border: none;
    }

    .button-class {
        width: 30%;
        display: block;
        margin: auto;
        margin-bottom: 20px;
        padding: 10px;
        background-color: #1259c3;
        border: none;
        color: #ffffff;
        font-size: 18px;
    }

    .button-class:hover {
        background-color: #0022AA;
    }

}