*{
    box-sizing: border-box;
}

div input:invalid {
    background-color: #ffdddd;
}

/*version mobile*/
@media (max-width: 768px) {
    .class {
        padding: 20px 15px;
    }

    .class label {
        font-size: 18px;
        display: block;
        margin-bottom: 10px;
    }
    
    .control {
        width: 100%;
        padding: 10px;
        border-radius: 2%;
        border: none;
    }
}

/*version tablet*/
@media (min-width: 768px) {}

/*version desktop*/
@media (min-width: 1028px) {}