header {
    background-color: #EAC926;
}

.roboto {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.cuerpos-de-texto {
    font-size: 16px;
}

body main section h3 {
    font-size: 24px;
}

.precios {
    font-size: 18px;
}

.descrpciones-descuentos {
    font-size: 16px;
}

body header h3 {
    text-align: center;
}

.search-container {
    display: flex;
    /* Para que los elementos estén en línea */
    align-items: center;
    /* Para centrar verticalmente */
}

.search-container i {
    margin-right: 10px;
    /* Espacio entre el ícono y el título */
}

.center {
    display: flex;
    align-items: center;
}

.center i {
    margin: 0 auto;
}

.user-icon-container {
    display: flex;
    align-items: center;
}

.user-icon-container li {
    margin-right: 8px;
}


.burger-menu {
    text-align: center;
    margin-bottom: 20px;
}

.burger {
    color: #ebebeb;
    background-color: #1259c3;
    border-radius: 10%;
    font-size: larger ;
    padding: 10px;
}

.part-footer-copyright {
    font-size: 12px;
    margin-left: 8px;
    color: rgba(102, 102, 102, 0.75);
    text-align: left;
}

.part-footer {
    text-align: center;
    margin-right: 40px;
    margin-left: 40px;
    color: rgba(102, 102, 102, 0.9);
    margin-top: 0;
}

.font-size {
    font-size: 22px;
    color: #3A3A3A;
    margin-bottom: 0;
}

.section-img{
    font-size: 50px;    
    margin-top: 50px;
    margin-bottom: 15px;
}