* {
    box-sizing: border-box;
}

header {
    background-color: #EAC926;
    padding-bottom: 15px;
}

.roboto {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.img-logo {
    width: 200px;
    display: flex;
}

.cuerpos-de-texto {
    font-size: 16px;
}

body main h3 {
    font-size: 24px;
}

.precios {
    font-size: 18px;
}

.descrpciones-descuentos {
    font-size: 16px;
}

body header h3 {
    text-align: center;
}

.search-container {
    display: flex;
    align-items: center;

}

.search-container i {
    margin-right: 10px;
    margin-left: 30px;
}



.center {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.center i {
    margin: 0 auto;
}

.user-icon-container {
    display: flex;
    align-items: center;
}

.user-icon-container li {
    margin-right: 8px;
}


.burger-menu {
    text-align: center;
    padding-bottom: 15px;
}

.burger {
    color: #ebebeb;
    background-color: #1259c3;
    border-radius: 10%;
    font-size: larger;
    padding: 10px;
}

.part-footer-copyright {
    font-size: 12px;
    margin-left: 8px;
    color: rgba(102, 102, 102, 0.75);
    text-align: left;
}

.part-footer {
    text-align: center;
    margin-right: 40px;
    margin-left: 40px;
    color: rgba(102, 102, 102, 0.9);
    margin-top: 50px;
}

.font-size {
    font-size: 22px;
    color: #3A3A3A;
    margin-bottom: 0;
}

.section-img {
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 15px;
    margin: auto;
}

main {
    width: 100%;
    background-color: #ebebeb;
    margin: auto;
}

main img {
    width: 100%;
}

main article {
    width: 90%;
    padding: 15px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #fff;
    height: 80%;
}

main border {
    padding-left: 90%;
    padding-right: 5%;
    border-top: 1px solid #ebebeb;
    align-self: center;
    display: flex;
    margin-bottom: 15px;

}


main section article i {
    margin-top: 15px;
    padding: 15px;
    border: solid 2px #39b54a;
    border-radius: 50%;
    position: relative;
    left: 70%;
    bottom: -24px;
}


main section {
    background-color: #ebebeb;
}

main article span {
    color: #39b54a;
    font-size: 16px;
    display: flex;
    flex-wrap: nowrap;
    margin-left: 15px;
    margin-top: 2px;
}

main article p {
    color: #666;
    font-size: 16px;
}

main precio {
    font-size: 18px;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 20px;
}

main article span div {
    margin-bottom: 0;
}

main h3 {
    margin-left: 20px;
    color: #666;
    margin-top: 0;
    border-top: 20px solid #ebebeb;
}

.clase {
    margin-bottom: 10px;
}

.one-hundred {
    width: 100%;
}


/*version mobile*/
@media (max-width: 768px) {
    header nav {
        display: none;
    }

    main section article i {
        left: 85%;
        bottom: -24px;
    }

    .search-container {
        display: block;
    }

    header .icon-hand i {
        margin-right: 0;
        padding-left: 85px;
        margin-bottom: 20px;

    }

    header .icon-hand h3 {
        text-align: center;
        margin-right: 100px;
    }

    .margin-top {
        margin-top: 10px;
    }

    .search-container-logo {
        display: flex;
    }

    .search-container-logo i {
        margin-top: 28px;
    }

    .search-container-logo button {
        max-height: 38px;
        margin-top: 20px;
        margin-right: 10px;
    }

    .search-container-logo img {
        margin-top: 10px;
        margin-left: 10px;
    }

    .bottom {
        border-bottom: #ebebeb solid 15px;
    }
}




/*version tablet*/
@media (min-width: 768px) {

    /*main section article span p {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }*/
    main article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    header nav {
        display: block;
    }

    .burger-menu {
        display: none;
    }

    main img {
        width: 35%;
    }

    main section h3 {
        margin-left: 100px;
    }

    main section article i {
        left: 85%;
        bottom: -24px;
    }

    .right-position {
        margin-right: 40px;
    }

    .search-container {
        display: flex;
    }

    .main-navbar {
        display: flex;
        justify-content: space-between;
        margin-left: 30px;
        margin-right: 30px;
    }

    .main-navbar ul {
        display: flex;
        margin-right: 5px;
    }

    .main-navbar li {
        margin-right: 15px;
    }

    .main-navbar li i {
        margin-right: 5px;
        margin-left: 5px;
    }

    .non-style {
        list-style: none;
    }

    .img-logo {
        margin-top: 20px;
        margin-left: 60px;
        margin-bottom: 15px;
    }

    body header h3 {
        margin-right: 45px;
    }

    .icon-hand {
        margin-top: 20px;
        margin-right: 10px;
    }

    header .icon-hand i {
        margin-right: 10px;
        margin-bottom: 2px;
    }

    .search-container button {
        display: flex;
        justify-items: stretch;
        flex-grow: 1;
        margin-right: 100px;
    }

    main article {
        max-width: 350px;
        margin-left: 100px;
        display: inline-block;
        align-items: center;
        
    }

    main section article img {
        width: 30vw;
    }

    main h3 {
        margin-left: 100px;
    }

}

/*version desktop*/
@media (min-width: 1028px) {
    main section article i {
        left: 88%;
        bottom: -24px;
    }

    .search-container {
        display: flex;
    }

    .main-navbar {
        display: flex;
        justify-content: space-between;
        margin-left: 30px;
        margin-right: 30px;
    }

    .main-navbar ul {
        display: flex;
        margin-right: 5px;
    }

    .main-navbar li {
        margin-right: 15px;
    }

    .main-navbar li i {
        margin-right: 5px;
        margin-left: 5px;
    }

    .non-style {
        list-style: none;
    }

    .img-logo {
        margin-top: 20px;
        margin-left: 60px;
        margin-bottom: 15px;
    }

    body header h3 {
        margin-right: 45px;
    }

    .icon-hand {
        margin-top: 20px;
        margin-right: 10px;
    }

    header .icon-hand i {
        margin-right: 10px;
        margin-bottom: 2px;
    }

    .search-container button {
        display: flex;
        justify-items: stretch;
        flex-grow: 1;
        margin-right: 960px;
    }

    main article {
        max-width: 550px;
        margin-right: 20px;
        margin-left: 20px;
    }

    main section {
        display: flex;
        justify-content: space-between;
    }

    main section article img {
        width: 20vw;
    }
}